/*---------------*/
/***** Reset *****/
/*---------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  font-weight: 500;
  color: #e9ecf2;
}

.tm-mt-60 {
  margin-top: 60px;
}

.tm-text-primary {
  color: #333;
}

a.tm-text-primary:hover {
  color: #666666;
}

/*---------------*/
/***** NavBar *****/
/*---------------*/
.navbar {
  background-color: #2207539f;
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.7rem;
}

.navbar-brand i {
  font-size: 2rem;
}

.nav-item {
  margin-right: 30px;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #ffffff;
  border-bottom: 4px solid transparent;
  font-size: 1.2rem;
}

.nav-link-1.active,
.nav-link-1:hover {
  border-color: #ffffff;
}

/*---------------*/
/***** Card slider *****/
/*---------------*/

.slide-content {
  padding: 10px 10px;
  overflow: hidden;
  border-radius: 10px;
}
.card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  /* padding: 25px 0; */
}
/* .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
} */

/* .name {
  font-size: 0.2rem;
  font-weight: 500;
  color: #333;
} */
.description {
  font-size: 1rem;
  color: #000000;
  max-height: 2.8rem;
  padding: 0 10px 0 10px;
  text-align: justify;
  line-break: anywhere;

  /* Código para colocar '...' quando tiver mais de 2 linhas na descrição do produto*/
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-navBtn {
  color: #fff;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #2207539f;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

/*---------------*/
/***** Footer *****/
/*---------------*/

footer {
  background-color: #2207539f;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0px;
    background: white;
    width: 150px;
    padding: 15px;
  }
}

/*---------------*/
/***** Bnt flutuante Whatsapp *****/
/*---------------*/

.bnt-whatsapp {
  position: fixed;
  width: 1.8em;
  height: 1.8em;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.bnt-whatsapp > i {
  margin: 10px 0 0 2px;
}
